html {
	overflow-y: scroll;
}

body {
	background-color: #757575;
	font-family: 'Dosis', sans-serif;
	color: #fff;
}

.main-container {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
	background-color: #757575;
}

/* Styles for the icons in the Contact Section */

.contact-section {
	padding-top: 2vh;
	padding-bottom: 3vh;
	padding-left: 0;
	padding-right: 0;
	background-color: transparent;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.fa-5x {
	color: #fff;
	font-size: 4em;
	transition: color 1s;
}

.fa-5x.email:hover {
	color: #FFAB91;
}

.fa-5x.about:hover {
	color: #FFE082;
}

.fa-5x.resume:hover {
	color: #A5D6A7;
}

.fa-5x.github:hover {
	color: #81D4FA;
}

.fa-5x.linkedin:hover {
	color: #B39DDB;
}

/* Styles for About section */
.about-left, .about-right {
	padding: 0 2em 20px 2em;
}

#about-section h1 {
	font-weight: 500;
}

#about-section p {
	text-align: justify;
	font-size: 1.25em;
}



/* General Styles for portfolio boxes */
.item {
	background-color: #455A64;
	height: 25vh;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}	

.portfolio-box {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.portfolio-box-caption, .title-box-caption {
	color: #fff;
	opacity: 1;
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
}

.portfolio-box-caption-content, .title-box-caption-content {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 30%;
}


.caption-category {
	font-weight: 600;
	font-size: 1.5em;
}

.caption-project {
	font-weight: 600;
	font-size: 2.5em;
}


/* Styles specific to title-box at top */
.title-box-caption {
	color: #fff;
	opacity: 1;
	background: transparent;
	align-self: center;
}

.title-box-caption-content {
	align-self: center;
	top: 40%;
}

.title-box-caption {
	opacity: 1;
}

.title-box {
	height: 50vh;
	background:
		linear-gradient(
			rgba(97,97,97 ,0.8),
			rgba(97,97,97 ,0.8)
		),
		url("../images/code-mess.png");
	background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;


}

.caption-name {
	font-size: 5em;
	font-weight: 500;
}

.title-box .caption-category {
	font-size: 2em;
	font-weight: 700;
}

.title-box .caption-project {
	font-size: 3em;
	font-weight: 700;
}


/* Styles for Ruby-based portfolio projects */
.portfolio-box-caption {
	background: rgba(156,39,176 ,0.2);
	transition: opacity 1s, background 1s;
}

.portfolio-box-caption:hover {
	opacity: 1;
	background: rgba(142,36,170 ,0.8);
}


/* Styles for JS, jQ, and Angular projects */
/*.portfolio-box-caption.js-caption {
	background: rgba(156,39,176 ,0.4);
	transition: opacity 1s, background 1s;
}

.portfolio-box-caption.js-caption:hover {
	opacity: 1;
	background: rgba(170,0,255 ,.8);	
}

.portfolio-box-caption.angular-caption {
	background: rgba(156,39,176 ,0.4);
	transition: opacity 1s, background 1s;
}*/


/* Styles for .NET projects */
/*.portfolio-box-caption.dotnet-caption {
	background: rgba(156,39,176 ,0.4);
	transition: opacity 1s, background 1s;
}

.portfolio-box-caption.dotnet-caption:hover {
	opacity: 1;
	background: rgba(48,63,159 ,0.8);
}*/


/* Specific styles for individual portfolio items: color filter, background image, and options*/
.factor {
	background:
		linear-gradient(
			rgba(50,50,50, 0.65),
			rgba(50,50,50, 0.65)
		),
		url("../images/cow.png");
	background-size: cover;
}

.gtn {
	background:
		linear-gradient(
			rgba(169,169,169, 0.35),
			rgba(169,169,169, 0.35)
		),
		url("../images/controller.png");
	background-size: cover;
}

.cfrails {
	background:
		linear-gradient(
			rgba(169,169,169, 0.35),
			rgba(169,169,169, 0.35)
		),
		url("../images/code.png");
	background-size: cover;
}

.speed {
	background:
		linear-gradient(
			rgba(50,50,50, 0.65),
			rgba(50,50,50, 0.65)
		),
		url("../images/cards.png");
	background-size: cover;
}

.angular-project {
	background:
		linear-gradient(
			rgba(169,169,169, 0.35),
			rgba(169,169,169, 0.35)
		),
		url("../images/angles.png");
	background-size: cover;
}

.dotnet-project {
	background:
		linear-gradient(
			rgba(169,169,169, 0.35),
			rgba(169,169,169, 0.35)
		),
		url("../images/business.png");
	background-size: cover;
}


/* Adding to Bootstrap media queries for different alignment of top section on small screens */

@media (max-width: 768px) {
	.portfolio-box-caption {
		align-self: flex-start;
	}

	.portfolio-box-caption-content {
		top: 20%;
	}
}